<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recipe Converter</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>

</head>

<body>
    <div>
    <div class="container">
      <nav class="navbar navbar-light navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse dual-nav order-1 order-md-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/public_api">brewIt API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>

        <a href="/" class="navbar-brand mx-auto order-0 order-md-2 p-2 custom-brand">brewIt</a>

        <div class="navbar-collapse collapse dual-nav order-4 order-md-4 justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                     <a class="nav-link" href="/search">advanced search</a>
                </li>
            </ul>
        </div>

        </nav>
        <hr class="hr-no-margin">
        <hr>
        {% block content %}

        <section class="find-banner">
           <div class="jumbotron jumbotron-fluid find-beer">
              <div class="container search-block">
                  <h1>Find a Recipe</h1>
                      <form method="POST" action="{{ url_for('search_template') }}">
                          {{ form.csrf_token }}
                          <div class="search-form input-group mb-3">
                              {{ form.query(class_='search-box') }}
                              {{ form.submitSimple(class_='input-group-append search-button') }}
                          </div>
                      </form>
                <a class="search-link" href="/search">ADVANCED SEARCH   <i class="fas fa-caret-right src-icon"></i></a>
              </div>
            </div>
        </section>

        <section class="container style-list">
            <div class="browse-header-row row">
                <h2 class="recipe-header">Browse Styles</h2>
            </div>
            <hr>
            <form method="POST" action="{{ url_for('search_template') }}">
                    {{ typeform.csrf_token }}
                <div class="beer-styles">
                    {% for style in styles %}
                        <div>
                            <img class="style-img" src="{{ url_for('static', filename='assets/' + style + '.jpg') }}">
                            <h4 class="style-tag">{{ style }}</h4>
                            {{ typeform[style](class_='style-overlay') }}
                        </div>
                    {% endfor %}
                </div>
            </form>

            <hr>
        </section>

        <section class="main-content">
            <div class="jumbostron jumbotron-fluid jumbo-browse">
                <div class="row">
                    <div class="browse-text col-12 col-md-6 order-2 order-md-1">
                        <h3 class="browse-tagline">Browse some of our most popular homebrew recipes - there's something for everyone.</h3>
                    </div>
                    <div class="col-12 col-md-6 order-1 order-md-2 pannel-browse">
                        <h1 class="browse-header">Get inspired.</h1>
                    </div>
                </div>
            </div>
            <div class="container beer-main">
                <div class="row">
                    <h2 class="recipe-header">Browse Recipes</h2>
                </div>
                <div class="row recipe-cards">
                    {% for recipe in recipes %}
                        <div class="card beer-card">
                            <a class="beer-link" href="/recipe/{{ recipe.recipe_id }}">
                                <img src="{{ recipe.image_url }}" class="card-img-top card-img" alt="...">
                            <div class="card-body card-descrip">
                                <h6 class="card-text card-type">{{ recipe.type}}</h6>
                                <h5 class="card-title">{{ recipe.title }}</h5>
                            </div>
                            <img class="card-logo" src="{{ url_for('static', filename='assets/logo2.png') }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    </div>
    {% endblock %}
    <hr>
    <hr>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
<script src="{{ url_for('static', filename='js/recipe.js') }}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>





