body {
    font-family: "Source Serif Pro",serif;
}

h2 {
    color: #898c32;
}

.slick-slider {
    height: 160px!important;
}

.slick-dots {
    left: 0;
}

.hr-no-margin {
    margin-top: 0!important;
}

.search-button {
    height: 41px;
    border-radius: 2px;
    border: none;
    background-color: #333333b3;
    color: #f1f2f2;
}

.search-button:hover {
    color: #f1f2f2;
}

.custom-nav {
    background-color: #ffffff;
    width: 70px;
    padding: 0!important;
}

.navbar {
    padding: !important;
}

.nav-link {
    font-size: 18px!important;
}

.custom-brand {
    font-size: 56px;
    color: #898c32!important;
}

.hidden {
    display: none;
}

.find-beer{
    margin-top: 30px;
    height: 400px;
    background-image: url(../assets/grain.jpg);
    opacity: .95;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #f1f2f2;
    font-family: "Source Serif Pro",serif;
    font-weight: 700;
    color: #ffffff;
}

.search-block{
    margin-top: 50px;
    padding: 30px 0;
    margin: 0 auto;
    background-color: #21252961;
    justify-content: center;
    align-content: center !important;
    text-align: center;
}

.search-form {
    margin: 30px auto 0 auto;
    justify-content: center;
    text-align: center;
    align-content: center !important;
    max-width: 500px!important;
}

.search-box{
    height: 40px;
    border: none;
    background-color: #f1f2f2;
    margin-bottom: 15px;
    padding: 10px;
}

.search-link {
    color: #ffffff;
    font-family: "Source Serif Pro",serif;
    font-size: 14px;
    font-weight: 600;
}

.beer-link:hover {
    text-decoration: none;
}

.beer-card {
    width: 15rem;
    margin: 10px;
    padding: 5px;
    border: none;
}

.recipe-cards {
    justify-content: space-evenly;
}

.card-overlay {
    width: 100%;
}

.card-title {
    text-align: left;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.card-img {
    border-radius: 0;
    height: 260px;
}

.card-logo {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 70px;
    margin-right: 10px;
}

.card-type {
    font-size: 12px;
    color: #898c32!important;
    text-align: left;
}

.card-descrip {
    padding: 5px!important;
}

.style-list {
    margin-top: 80px;
    background-color:#f5f7f7;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 15px;
}
.beer-styles {
    margin: 10px;
    padding: 15px 30px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.style-overlay {
    position: relative;
    top: -140px;
    background-color: transparent;
    border: transparent;
    color: transparent;
    z-index: 9;
    height: 150px;
    width: 200px
}

.main-content {
    margin: 40px 0;
    justify-content: center;
    text-align: center;
    align-content: center !important;
}

.beer-main {
    margin:100px 0 50px 0;
    padding: 15px 40px;
    border: 2px solid rgba(0,0,0,.075);
}

.recipe-header {
    position: relative;
    top: -40px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    background-color: #898c32;
    font-size: 24px;
    max-height: 150px;
}

.jumbo-browse {
    padding: 15px;
    height: 300px;
}

.browse-header-row {
    height: 10px;
}

.browse-header {
   font-size: 56px;
    text-align: center;
    /* background-color: #2222227d; */
    margin-top: 200px;
    color: #fff;
}

.browse-tagline {
    text-align: left;
    margin-top: 120px;
    font-size: 22px;
    color: grey;
}


.pannel-browse {
    padding: 3px;
    overflow: hidden;
    height: 300px;
    background-image: url(../assets/beer2.jpg);
    opacity: .95;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-family: "Source Serif Pro",serif;
    font-weight: 700;
    color: #ffffff;
}

.advanced-search{
    padding: 40px 0;
    border-radius: 0;
    margin-top: 30px;
    background-image: url(../assets/beer4.jpg);
    opacity: .95;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #f1f2f2;
    font-family: "Source Serif Pro",serif;
    font-weight: 700;
    color: #ffffff;
}

.advanced-search-block {
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #21252961;
    justify-content: center;
    align-content: center !important;
    text-align: center;
}

.advanced-search-form {
    margin: 30px auto 0 auto;
    justify-content: center;
    text-align: center;
    align-content: center !important;
}

.advanced-search-box {
    height: 40px;
    min-width: 45%;
    border: none;
    background-color: #f1f2f2;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;
}

.advanced-search-button {
    margin: 10px auto;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    background-color: #333333b3;
    color: #f1f2f2;
}

.filters {

    margin-left: 15px;
}

.btn-filter {
    height: 40px;
    border-radius: 2px;
    border: none;
    background-color: #333333b3;
    color: #fff!important;
    margin-bottom: 10px;
    margin-right: 5px;
}

.results-main {
    margin-top: 100px;
}

.style-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.style-tag {
    color: #495057;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.carousel-arrows {
    cursor: pointer;
    color: #6c757d;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
}

.left {
    left: -25px;
}

.right {
    right: -25px;
}

.recipe-div{
    margin: 0 auto;
    padding-top: 10px;
    line-height: 1;
}

.recipe-logo {
    width: 60px;
    margin-right: 10px;
}

.ingredients {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 20px 20px 0 20px;
}

.ingredient-grid {
    background-color: #f8f9fa7d;
    margin-top: 10px;

}

.recipe-details {
    margin: 30px 0;
}

.recipe-divider {
    width: 100%;
    background-image: url(../assets/ingredients.jpg);
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-family: "Source Serif Pro",serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}

.recipe-titles {
    color: #fff;
    background-color: #33333373;
    text-align: left;
    padding: 20px;
    font-weight: 500;
    font-size: 58px;
}

ingredient-image {
    width: 100%;
}

.recipe-image {
    margin: 10px;
    max-width: 230px;
    max-height: 250px;
}

.instructions {
    margin: 40px 0;
}

.instruction-p {
    padding: 10px;
    text-indent: 30px;
    line-height: 1.3;
}

.search-jumbo {
    padding: 3px;
    overflow: hidden;
    height: 300px;
    background-image: url(../assets/beer4.jpg);
    opacity: 1;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-family: "Source Serif Pro",serif;
    font-weight: 700;
    color: #ffffff;
}


@media only screen and (max-width: 770px) {

    .beer-main {
            margin:300px 0 50px 0;
    }

    .browse-tagline {
        text-align: center;
        margin-top: 80px;
        font-size: 22px;
        color: grey;
    }
}



@media only screen and (max-width: 400px) {

.recipe-titles {
    color: #fff;
    background-color: #33333373;
    text-align: left;
    padding: 10px;
    font-weight: 500;
    font-size: 32px;
}


    .browse-header {
       font-size: 46px;
        text-align: center;
        /* background-color: #2222227d; */
        margin-top: 200px;
        color: #fff;
    }

}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                