{% extends "api.html" %}
{% block content %}

<section class="col api-block">
    <hr>
    <hr>
    <div class="row section-row">
        <h2 class="section-header">Account</h2>
    </div>
    <div class="api-account media">
        <div class="media-body">
            <p><strong>Email:</strong> {{ current_user.email}}</p>
            <p><strong>User name:</strong> {{ current_user.username }}</p>
            <p><strong>API key:</strong> {{ current_user.key }}</p>
        </div>
    </div>

    <div class="row account-actions">
        <button class="edit-toggle btn btn-dark" type="button" data-toggle="collapse" data-target="#accountCollapse" aria-expanded="false" aria-controls="accountCollapse">
            Edit Account
        </button>
        <form method="POST" action="">
            {{ keyform.hidden_tag() }}
            {{ keyform.submitNewKey(class="btn btn-danger edit-toggle") }}
        </form>
    </div>
    <div class="collapse" id="accountCollapse">
        <div class="card card-body">
            <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form">
                <div class="form-row">
                    <div class="form-group col-med-6">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form.username.errors %}
                                    <span>{{ err }}</span>
                                {% endfor %}
                            </div>
                         {% else %}
                             {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-med-6">
                        {{ form.email.label(class="form-control-label") }}

                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form.email.errors %}
                                    <span>{{ err }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                             {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                    {{ form.submitUpdate(class="btn btn-outline-info") }}
            </div>
        </form>
      </div>
    </div>



</section>

{% endblock %}