<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>brewIt API</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/api.css') }}" />
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>

</head>
<body>
    <div class="container-fluid api-container">
        <div class="row convert-sidebar">
            <aside class="p-0 cust-bg col-12 col-md-2 ">
                <nav class="navbar navbar-expand-sm navbar-light align-items-start flex-md-column flex-row py-2">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="collapse navbar-collapse">
                        <ul class="w-100 justify-content-between flex-md-column flex-row navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link pl-0 text-nowrap font-weight-bold" href="{{ url_for('public_template') }}"><img class="brand-logo" src="{{ url_for('static', filename='assets/logo2.png') }}"<span class="font-weight-bold">brewIt API</span></a>
                            </li>
                            {% if auth_status == True %}
                                <li class="nav-item nav-cust">
                                    <a class="nav-link pl-0 text-nowrap" href="{{ url_for('logout_template') }}">sign out</a>
                                </li>
                            {% else %}
                                <li class="nav-item nav-cust">
                                    <a class="nav-link pl-0 text-nowrap" href="{{ url_for('signin_template') }}">sign in</a>
                                </li>
                            {% endif %}
                            {% if auth_status == True %}
                                <li class="nav-item nav-cust">
                                    <a class="nav-link pl-0 text-nowrap" href="{{ url_for('account_template') }}">account</a>
                                </li>
                            {% else %}
                                <li class="nav-item nav-cust ">
                                    <a class="nav-link pl-0 text-nowrap" href="{{ url_for('signup_template') }}">sign up</a>
                                </li>
                            {% endif %}
                            <li class="nav-item nav-cust">
                                <a class="nav-link pl-0 text-nowrap" href="{{ url_for('docs_template') }}">documentation</a>
                            </li>
                            <li class="nav-item nav-cust">
                                <a class="nav-link pl-0 text-nowrap" href="{{ url_for('home_template') }}">back to brewIt</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>

            <main class="col main-block">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                <section class="header-block">
                    <h1 class="large-header">Welcome to the brewIt API</h1>
                </section>
                <hr>
                <hr>
                <div class="row section-row">
                    <h2 class="section-header">About</h2>
                </div>
                <section class="content-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula faucibus turpis, id pretium dui vestibulum vitae. Maecenas posuere suscipit dui, eu elementum enim feugiat ac. Vestibulum venenatis turpis quis ipsum volutpat dictum. Integer et feugiat arcu, ut condimentum dolor. Fusce nulla dolor, congue sed velit nec, egestas lobortis velit. Nulla id finibus libero. Aliquam ultrices id lacus at efficitur. Etiam et odio neque.</p>
                    <p>Vivamus enim quam, hendrerit nec iaculis sit amet, ullamcorper id libero. Fusce posuere ex in augue eleifend, a convallis velit tristique. Vivamus mauris augue, facilisis eu diam vel, ultricies dapibus turpis. Aliquam vitae dignissim velit, malesuada fringilla lacus. Ut posuere arcu varius rhoncus blandit. Aenean non euismod eros. Curabitur sollicitudin quis dolor vel viverra. Phasellus sit amet orci ornare, fringilla ligula vitae, malesuada purus. Aenean et sem sodales, dapibus diam a, congue ex. Sed lobortis sem sit amet imperdiet pretium. Sed dui dui, pellentesque eget tincidunt eget, bibendum non dui. Nulla ornare tincidunt convallis. Vivamus nec libero ante. In vitae viverra magna, et ultrices lacus.</p>
                </section>

                {% endblock %}
                <hr>
                <hr>
            </main>
        </div>
    </div>
</body>
</html>