{% extends "api.html" %}
{% block content %}

<section class="col api-block">
    <hr>
    <hr>
    <div class="row section-row">
        <h2 class="section-header">Documentation</h2>
    </div>

    <section class="content-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula faucibus turpis, id pretium dui vestibulum vitae. Maecenas posuere suscipit dui, eu elementum enim feugiat ac. Vestibulum venenatis turpis quis ipsum volutpat dictum. Integer et feugiat arcu, ut condimentum dolor. Fusce nulla dolor, congue sed velit nec, egestas lobortis velit. Nulla id finibus libero. Aliquam ultrices id lacus at efficitur. Etiam et odio neque.</p>
        <div class="api-table">

        </div>
    </section>

</section>

{% endblock %}