{% extends "index.html" %}
{% block content %}



<section class="search">
    <div class="jumbotron advanced-search">
        <div class="container advanced-search-block">
            <h1>Search our Database</h1>
            <form method="POST" action="">
                {{ form.csrf_token }}
                <div class="row advanced-search-form">
                    {{ form.query(class_='advanced-search-box') }}
                    <span class="filters">
                        {{ form.style(class_='btn btn-filter dropdown-toggle') }}
                        {{ form.abv(class_='btn btn-filter dropdown-toggle')}}
                        {{ form.ibu(class_='btn btn-filter dropdown-toggle') }}
                    </span>
                </div>

                <div class="row">
                    {{ form.submitAdvanced(class_='btn advanced-search-button') }}
                </div>
            </form>
        </div>
    </div>
</section>

<section class="container results-main">
    <hr>
    <div class="row">
        <h2 class="recipe-header">Search Results</h2>
    </div>
    <div class="row recipe-cards">
        {% for recipe in recipes %}
            <div class="card beer-card">
                <a class="beer-link" href="/recipe/{{ recipe.recipe_id }}">
                    <img src="{{ recipe.image_url }}" class="card-img-top card-img" alt="...">
                <div class="card-body card-descrip">
                    <h6 class="card-text card-type">{{ recipe.type}}</h6>
                    <h5 class="card-title">{{ recipe.title }}</h5>
                </div>
                <img class="card-logo" src="{{ url_for('static', filename='assets/logo2.png') }}">
                </a>
            </div>
        {% endfor %}
    </div>
</section>


{% endblock %}